.header{
    width: 100%;
    background-color: #2d3142;
}

.header .header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;/*Contexto flexivel para os elementos filhos, neste caso colocando elementos um do lado do outro*/
}

.header .header_content .logo{
    flex-basis:330px;/*Define o tamanho padrão para um elemento antes que o espaço remanescente do container seja distribuído.*/
    padding: 20px;
    width: 290px;
}

.header .header_content .header_content_menu{
    flex-basis: calc(100% - 330px);/*o que sobrar ficará para o menu*/
    display: flex;
    justify-content: flex-end;/*Esta propriedade define o alinhamento dos ítens ao longo do eixo principal: coloca do lado direito*/
}

.header_content_menu ul{
    display: flex;
    align-items: stretch;/*colocando um do lado do outro*/
}

.header_content_menu ul li{
    list-style: none;
    display: flex;
    align-items: center;/*centralizado em realação a altura do topo*/
}

.header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #d36833;
}

.header_content_menu ul li a:hover{
    background-color: #d36833;
    color: #fff;
}